header{
    height: 50px;
    background: #C4C4C4;
    border: 1px solid #000000;
}

#mensagens{
    overflow: auto;
    min-height: 21rem;
    max-height: 21rem;
    margin-top: 2px;
}

h1{
    position: relative;
    top: 0.5rem;
    left: 1rem;
    
    display: inline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

}
p{
    position: absolute;
    font-size: 18px;
}
.box{
    position: relative;
    width: 777px;
    height: 62px;
    left: 19rem;
    border: 2px solid #000;

}

.edit{
    position: relative;
    width: 47px;
    height: 26px;
    left: 87%;
    top: 56%;
    

    background: #F7A75D;

}

.excluir{
    display: inline-block;
    position: relative;
    width: 52px;
    height: 26px;
    left: 87%;
    top: 56%;
    

    background-color: #F75D5D;;    
}

#chatbox{
    position: relative;
    width: 609px;
    left: 380px;
    margin-top: 1em;

    background: #C4C4C4;
    border: 1px solid #000000;
}

#chat{
    box-sizing: border-box;

    position: relative;
    width: 500px;
    height: 150px;
    left: 0px;
    top: 0px;
    margin: 4px;

    background: #FAFAFA;
    border: 1px solid #000000;
}

.btr_enviar{
    position: relative;
    width: 79px;
    height: 36px;
    bottom: 7rem;
    left: 5px;
    background: #0066CC;
    border-radius: 10px;
}